<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.globalagent">
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <application
        android:name=".AgentBridgeApplication"
        android:allowBackup="false"
        android:directBootAware="true"
        android:hasCode="true"
        android:label="Global Agent Bridge"
        android:persistent="true"
        android:supportsRtl="true">
        <activity
            android:name=".AgentSessionActivity"
            android:directBootAware="false"
            android:exported="true"
            android:showWhenLocked="false"
            android:turnScreenOn="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
