<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.globalagent">
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <application
        android:name=".AgentBridgeApplication"
        android:allowBackup="false"
        android:directBootAware="true"
        android:hasCode="true"
        android:label="Global Agent Bridge"
        android:persistent="true"
        android:supportsRtl="true">
    </application>
</manifest>
